@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');


.navbar_style {
    background-color: white;
}

.fundo {
    background-color: black;
    color: aliceblue;
    font-family: "Comic Relief", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.footer-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.footer-text {
    display: flex;
    flex-direction: column;
}